In [3]:
%matplotlib inline
import pandas as pd

In [4]:
df = pd.read_csv("first.CSV", nrows=1000)

In [5]:
df.head(10)

   americanpatriotjeff
0  thanachotsiriviboon
1  lakshmiprasannarani
2   venkatasubramaniam
3   venkatapadmanabham
4    vijayaraghavendra
5    gurusubrahmaniyan
6    shivaramakrishnan
7    venkatachalapathi
8     muthupalaniappan
9     kourtneyandclint

In [6]:
# fuzz is used to compare TWO strings
from fuzzywuzzy import fuzz

# process is used to compare a string to MULTIPLE other strings
from fuzzywuzzy import process

In [7]:
fuzz.ratio("venkatasubramaniam","venkatapadmanabham")

72